html {
    box-sizing: border-box;
}
*,
*::before,
*::after {
     box-sizing: inherit;
}
img {
    display: block;
    max-width: 100%;
    height: auto;
}
.container {
    width: 1110px;
    margin: 0 auto;
    /* font-size: 0px; */
    /* background-color: aqua; */
    /* margin-left: 30px; */

}
.header {
    width: 1110px;
    height: 50px;
    /* background-color: darkorange; */
}

.site-logo a{
    /* background-color: chocolate; */
    /* text-decoration: none; */
    text-transform: uppercase;
    font-size: 30px;
    color: #555252;
    text-decoration: none;
    float: left;
    font-family: 'Roboto', sans-serif;
    font-weight: lighter;
    margin-top: 9px;
}
.site-logo a::first-letter {
    font-weight: bold;
    color: #1abc9c;
}
/* .site-logo a:last-of-type {
    font-weight: lighter;
} */

.site-navigation li {
    /* float: left; */
    /* background-color: blueviolet; */
    /* text-decoration: none; */
}
.menu .menu-item:last-child {
        margin-right: 0px;
}

.menu {
    /* background-color: blue; */
    /* text-decoration: none; */
    width: 465px;
    list-style: none;
    float: right;
    margin-bottom: 15px;
    height: auto;
    overflow: hidden;
    padding-left: 0px;
}

.menu-item a {
    text-decoration: none;
}

.menu-item a {
    /* background-color: brown; */
    float: left;
    margin-right: 20px;
    text-transform: uppercase;
    /* text-decoration: none; */
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    /* font-family: 'Open Sans', sans-serif; */
    font-weight: bold;
    color: #0f0101;
}
.menu-item a:hover {
    color: #1abc9c;
}
.menu.menu-item a :active {
    color: #1abc9c;
}
.menu-item a :focus {
    color: #1abc9c;
}

.clearfix::after {
    display: table;
    content: '';
    clear: both;
}
.headline {
    /* display: inline-block; */
    /* margin: 0 auto; */
    font-weight: bold;
    font-size: 48px;
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    padding-left: 300px;
}
.card {
    float: left;
    

}