html {
    box-sizing: border-box;
}
*,
*::before,
*::after {
     box-sizing: inherit;
}
img {
    display: block;
    max-width: 100%;
    height: auto;
}
.clearfix::after {
    display: table;
    content: '';
    clear: both;
}
.container {
    width: 1110px;
    margin: 0 auto;
}
.header {
    width: 1110px;
    height: 50px;
}
.site-logo a {
    text-transform: uppercase;
    font-size: 30px;
    color: rgb(85, 82, 82);
    text-decoration: none;
    float: left;
    font-family: 'Roboto', sans-serif;
    font-weight: lighter;
    margin-top: 8px;
}
.site-logo a::first-letter {
    font-weight: bold;
    color: rgb(26, 188, 156);
}
.menu .menu-item:last-child {
        margin-right: 0px;
}
.menu {
    width: 465px;
    list-style: none;
    float: right;
    margin-bottom: 15px;
    height: auto;
    overflow: hidden;
    padding-left: 65px;
}
.menu-item a {
    text-decoration: none;
}
.menu-item {
    float: left;
    margin-right: 20px;
    text-transform: uppercase;
    font-size: 14px;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    color: rgb(15, 1, 1);
}
.menu-item a:hover {
    color: rgb(26, 188, 156);
}
.menu.menu-item a :active {
    color: rgb(26, 188, 156);
}
.menu-item a :focus {
    color: rgb(26, 188, 156);
}
.headline {
    font-weight: bold;
    font-size: 48px;
    font-family: 'Roboto', sans-serif;
    text-transform: uppercase;
    text-align: center;
}
.card {
    float: left;
    margin: 0 30px 70px 0;
    cursor: pointer;
}
.card-wrapper {
    height: 320px;
    width: 255px;
}
.card-picture {
    object-fit: cover;
    overflow: hidden;
    height: 280px;
    width: 255px;
}
.card-name {
    display: inline-block;
    width: 200px;
    --h: 40px;
    height: var(--h);
    line-height: var(--h);
    background-color: #555252;
    bottom: 0px;
    text-transform: uppercase;
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    color: rgb(255, 255, 255);
    padding-left: 13px;
    overflow: hidden;
}
.card-price {
    display: block;
    float: right;
    background-color: rgb(194, 182, 182);
    width: 55px;
    --h: 40px;
    height: var(--h);
    line-height: var(--h);
    bottom: 0px;
    left: 200px;
    text-transform: uppercase;
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    color: rgb(255, 255, 255);
    padding-left: 13px;
}

.card-wrapper:hover .card-price {
    background-color: rgb(127, 217, 199);
    transition-duration: 0.3s;
}
.card-wrapper:hover .card-name {
    background-color: rgb(26, 188, 156);
    transition-duration: 0.3s;
    }
section.card:nth-child(4n) {
    margin-right: 0;
}
.headline::after{
    display: block;
    content: "";
    margin: 32px auto 92px;
    height: 6px;
    width: 165px;
    background-color:rgb(26, 188, 156);
}
.news-card {
    float: left;
    width: 350px;
    margin: 0 30px 230px 0;
}
section.news-card:nth-child(3n) {
    margin-right: 0;
}
.news-card-picture {
    object-fit: cover;
    overflow: hidden;
    height: 260px;
    width: 350px;
}
.caption-news-picture::after{
    content: "";
    display: block;
    margin: 15px 0 30px;
    height: 4px;
    width: 135px;
    background-color:rgb(26, 188, 156);
}
.caption-news-picture {
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    font-weight: bold;
    line-height: 26px;
}
.caption-news-text {
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    line-height: 26px;
}
.news-card-button {
    background-color: rgb(78, 198, 171);
    color: rgb(255, 255, 255);
    padding: 0.7rem 2.5rem;
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    line-height: 26px;
    margin-top: 6px;
    border: none;
    border-radius: 5px;
    overflow: hidden;
}