.banner {
    background-image: linear-gradient(to top, rgba(252, 227, 138, 0.9), rgba(243, 129, 129, 0.9) ), url(https://github.com/Pavelx703/goit-fe-course/blob/master/module-10/pictures/eagle@x1.jpg?raw=true);
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 1000px;
 }