.services {
    margin-top: 120px;
 
    &__first-line {
       color: $name-color;
    }
    &__second-line {
       color: $name-color;
    }
 }
 .service-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
 }
 .service-card {
    display: flex;
    width: 380px;
    min-height: 100px;
    justify-content: space-around;
    margin-bottom: 65px;
 
    &__svg {
       width: 32px;
       height: 32px;
       fill: $main-color;
    
       &:hover {
          fill: $hover-color;
       }
    }
 }
 
 .card-descr {
    width: 300px;
 
    &__name {
       margin: 0;
       text-transform: uppercase;
       font-size: 14px;
       font-family: 'Montserrat', sans-serif;
       font-weight: 400;
       color: $name-color;
       padding-bottom: 20px;
    }
    &__text {
       margin: 0;
       font-family: 'Roboto' ,sans-serif;
       font-size: 14px;
       line-height: 24px;
       color: $text-color;
       font-weight: 400;
    }
 }