.popup {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: flex;
	display: none;
	overflow: auto;
}
.popup.active {
	display: flex;
}
.popup__inner {
	margin: auto;
	max-width: 400px;
	text-align: center;
	background: purple;
	padding: 30px;
}
