    $main-color: rgb(149, 225, 211);
    $name-color: rgb(51, 51, 51);
    $text-color: rgb(153, 153, 153);
    $hover-color: rgb(252, 227, 138);
    $more-color: rgb(243, 129, 129);
    $white-color: rgb(255, 255, 255);