html {
    box-sizing: border-box;
}
*,
*::before,
*::after {
     box-sizing: inherit;
}
img {
    display: block;
    max-width: 100%;
    height: auto;
}
:root {
    --main-color: rgb(254, 209, 54);
    --name-color: rgb(34, 34, 34);
    --text-color: rgb(119, 119, 119);
    --form-color: rgb(187, 187, 187);
}
@font-face {
    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 400;
    src: local('Roboto Slab Regular'), local('RobotoSlab-Regular'),
         url('../fonts/roboto-slab-v9-latin-regular.woff2') format('woff2'),
         url('../fonts/roboto-slab-v9-latin-regular.woff') format('woff')
}
@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    src: local('Montserrat Regular'), local('Montserrat-Regular'),
         url('../fonts/montserrat-v14-latin-regular.woff2') format('woff2'),
         url('../fonts/montserrat-v14-latin-regular.woff') format('woff')
}
@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    src: local('Montserrat SemiBold'), local('Montserrat-SemiBold'),
         url('../fonts/montserrat-v14-latin-600.woff2') format('woff2'),
         url('../fonts/montserrat-v14-latin-600.woff') format('woff')
}
@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 800;
    src: local('Montserrat ExtraBold'), local('Montserrat-ExtraBold'),
         url('../fonts/montserrat-v14-latin-800.woff2') format('woff2'),
         url('../fonts/montserrat-v14-latin-800.woff') format('woff')
  }
@font-face {
    font-family: 'Roboto';
    font-style: italic;
    font-weight: 400;
    src: local('Roboto Italic'), local('Roboto-Italic'),
         url('../fonts/roboto-v20-latin-italic.woff2') format('woff2'),
         url('../fonts/roboto-v20-latin-italic.woff') format('woff')
}
.container-fluid {
    width: 1400px;
    margin: auto;
}
.container {
    width: 940px;
    margin: auto;
}
.site-logo {
    margin: 0;
}
.site-logo .logo-img {
    height: 23px;
    width: 86px;
}
.site-navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 50px 0 0;
}
.menu {
    list-style: none;
    width: 490px;
    display: flex;
    justify-content: space-between;
    margin: 0;
}
.menu-item {
    text-transform: uppercase;
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
}
.menu-link {
    text-decoration: none;
    color: var(--name-color);
    transition: color .2s linear;
}
.menu-link:hover,
.menu-link:focus,
.menu-item::after {
    color: var(--main-color);
}
.services-page {
    margin: 120px auto 0;
}
.service-cards {
    display: flex;
    justify-content: space-between;
    margin: 75px auto 0;
}
.page-title {
    font-weight: 800;
    font-size: 34px;
    line-height: 50px;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    text-align: center;
    color: var(--name-color);
    margin: 0;
}
.page-descr {
    font-weight: normal;
    font-size: 16px;
    line-height: 25px;
    font-family: 'Roboto', sans-serif;
    font-style: italic;
    text-align: center;
    color: var(--text-color);
    margin: 0;
}
.service-card {
    display: flex;
    width: 280px;
    min-height: 230px;
    flex-direction: column; 
    justify-content: start;
    align-items: center;
}
.card-name {
    margin: 0;
    line-height: 75px;
    font-size: 18px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    color: var(--name-color);
}
.card-text {
    margin: 0;
    font-family: 'Roboto Slab' ,sans-serif;
    font-size: 14px;
    line-height: 24px;
    color: var(--text-color);
    text-align: center;
}
.contact_us-page {
    min-height: 677px;
    background-image: url(https://github.com/Pavelx703/goit-fe-course/blob/master/module-7/pictures/MapImage.jpg?raw=true);
    margin-top: 130px;
}
.contact_us-title {
    padding-top: 110px;
    color: white;
}
.form {
    width: 940;
    min-height: 210px;
    display: flex;
    justify-content: space-between;
    margin: 75px 0 0;
}
.input-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.input-text {
    text-transform: uppercase;
    font-family: 'Montserrat' ,sans-serif;
    font-weight: 600;
    width: 455px;
    font-size: 14px;
    color: var(--form-color);
    padding: 14px;
    border-radius: 4px;
    border: none;
}
.input-submit {
    width: 240px;
    background: var(--main-color);
    font-size: 18px;
    text-transform: uppercase;
    font-family: 'Montserrat' ,sans-serif;
    font-weight: 600;
    padding: 18px;
    color: white;
    border: none;
    border-radius: 4px;
    display: block;
    margin: auto;
    transform: translateY(30px);
}
.input-text:valid {
    outline-color: green;
  }
.input-text:invalid {
    outline-color: red;
  }
.input-text:focus {
   background-color: rgb(236, 229, 122);
  }


