div.block {
    width: auto;
    text-align: center;
    height: auto;
    position: relative;
}

li {
    display: inline-block;
    text-align: center;
    font-size: 14px;
    font-family: 'Playfair Display', serif;
    color: #7c7c7c;
    list-style-type: none;
    margin: 50px;
}

li:hover {
    color: #ffe; /* Цвет текста активного пункта */
    font-size: 14px;
    color: #03a9f4;
    list-style-type: none;
}

.wrapper {
    display: inline-block;
    width: 420px;
    height: 480px;
    font-size: 14px;
    font-family: 'Playfair Display', serif;
    color: #7c7c7c;
    margin: 60px;
}

h2 {
    font-family: 'Playfair Display', serif;
    font-size: 28px;
    text-align: left;
    color: #626262;
    margin-bottom: 34px;
}

article {
    width: 1200px;
    font-family: 'Playfair Display', serif;
    margin: auto;
}

.text {
    font-size: 14px;
    text-transform: uppercase;
    color: #b4ad9e;
    text-align: left;
    margin-top: 30px;
    margin-bottom: 30px;
}

.control {
    display: block;
    margin: 0 auto 60px auto;
    background: transparent;
    border-width: 1px;
    border-color: #626262;
    border-style: solid;
    width: 164px;
    height: 60px;
    font-size: 20px;
    font-family: "Playfair Display";
    color: #626262;
    line-height: 1.2;
}
