html {
    box-sizing: border-box;
}
*,
*::before,
*::after {
     box-sizing: inherit;
}
img {
    display: block;
    max-width: 100%;
    height: auto;
}
.container {
    width: 900px;
    margin: 0 auto;
    font-size: 0px;
}
a {
     color: #626262;
    }
.site-navigation {
       margin: 0;
       padding: 0;
       text-align: center;
       color: #626262;
}
.menu .menu_item a:hover,
.menu .menu_item a:focus {
     color: #03a9f4;
}
.menu .menu_item a:active {
    color: #03a9f4;
}
.menu li:last-child {
margin-right: 0px
}
.menu li:first-child {
    margin-left: 0px
}
.menu .menu_item {
    margin: 50px;
     display: inline-block;
    text-transform: uppercase;
    font-size: 14px;
    margin-bottom: 0px;
    margin-top: 75px;
    font-family: 'Playfair Display', serif;
}

.menu .menu_item a {
    text-decoration: none;
  }
body {
     color: #626262; 
     font-family: 'Playfair Display', serif;
}
.container .wrapper {
    display: inline-block;
    width: 420px;
    margin-top: 100px;
    margin-right: 60px;
    vertical-align: top;
    /* Не понимаю почему не получается поставить 60рх */
}
.container .wrapper:nth-child(2n) {
    margin-right: 0px;
}
.bottom {
    margin-top: 30px;
    color: #b4ad9e;
    font-family: 'Ubuntu', sans-serif;
    font-weight: lighter;
    font-size: 16px;
    text-transform: uppercase;
}
.note {
    font-size: 30px;
    margin-top: 30px;
    margin-bottom: 30px;
    font-family: 'Playfair Display', serif;
    font-weight: normal;
}
.text {
    font-size: 14px;
    line-height: 23px;
    margin-bottom: 40px;
    margin-top: 0px;   
}
footer.more {
    text-align: center;
}
.btn {
    background: transparent;
    border-width: 1px;
    border-color: #626262;
    border-style: solid;
    padding: 1rem 2rem;
    font-size: 20px;
    font-family: "Playfair Display";
    color: #626262;
    line-height: 1.2;
    margin-top: 10px;
    margin-bottom: 70px;
}