/* body {color: green;}*/
/* section {color: grey;}*/

/* ol li {color: hotpink; font-size: 30px} */
/* ol>li>li>li {color: tomato} */
/* title  */
/* .one {color: yellow;} */
/* header {color:paleturquoise; font-size: 20px; font-style: italic;} */
/* .two {color: red} */
/* .three {color: royalblue} */
/* .two {font-size: xx-large} */
/* .hov:hover {color: green} */
/* .life:hover {color: slateblue; font-style: oblique; font-size: 30px} */