@media (min-width: 768px) {
    .container {
        min-height: 700px;
    }
    .background {
        background-image: 
        linear-gradient(to bottom, hsla(0,0%,0%,.2), hsla(0,0%,0%,.3)),
        url(https://github.com/Pavelx703/goit-fe-course/blob/master/module-9/pictures/VSO768px.jpg?raw=true);
    }
    .site-navigation {
        margin: 30px auto;
        flex-direction: row-reverse;
        max-width: 748px;
    }
    .logo {
        margin: 25px auto 0;
        padding: 0 0 10px;
    }
    .page-title {
        font-size: 52px;
        max-width: 550px;
    }
    .page-descr {
        font-size: 18px;
        margin: 20px auto 40px;
        max-width: none;
    }
    .partner-cards-wrapper {
        flex-wrap: wrap;
    }
}
@media (min-width: 960px) {
    .background {
        background-image:
        linear-gradient(to bottom, hsla(0,0%,0%,.2), hsla(0,0%,0%,.3)),
         url(https://github.com/Pavelx703/goit-fe-course/blob/master/module-9/pictures/VSO1440px.jpg?raw=true);
    }
    .partner-cards-wrapper {
        max-width: none;
    }
    .site-navigation {
        max-width: 940px;
        margin: 30px auto;
    }
}