html {
    box-sizing: border-box;
}
*,
*::before,
*::after {
     box-sizing: inherit;
}
img {
    display: block;
    max-width: 100%;
    height: auto;
}
:root {
    --main-color: rgb(149, 225, 211);
    --name-color: rgb(51, 51, 51);
    --text-color: rgb(153, 153, 153);
    --hover-color: rgb(243, 129, 129);
}
@font-face {
    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 400;
    src: local('Roboto Slab Regular'), local('RobotoSlab-Regular'),
         url('../fonts/roboto-slab-v9-latin-regular.woff2') format('woff2'),
         url('../fonts/roboto-slab-v9-latin-regular.woff') format('woff')
}
@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    src: local('Montserrat Regular'), local('Montserrat-Regular'),
         url('../fonts/montserrat-v14-latin-regular.woff2') format('woff2'),
         url('../fonts/montserrat-v14-latin-regular.woff') format('woff')
}
@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    src: local('Montserrat SemiBold'), local('Montserrat-SemiBold'),
         url('../fonts/montserrat-v14-latin-600.woff2') format('woff2'),
         url('../fonts/montserrat-v14-latin-600.woff') format('woff')
}
@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 800;
    src: local('Montserrat ExtraBold'), local('Montserrat-ExtraBold'),
         url('../fonts/montserrat-v14-latin-800.woff2') format('woff2'),
         url('../fonts/montserrat-v14-latin-800.woff') format('woff')
  }
@font-face {
    font-family: 'Roboto';
    font-style: italic;
    font-weight: 400;
    src: local('Roboto Italic'), local('Roboto-Italic'),
         url('../fonts/roboto-v20-latin-italic.woff2') format('woff2'),
         url('../fonts/roboto-v20-latin-italic.woff') format('woff')
}
.container {
    width: 1200px;
    margin: auto;
}
.header {
    min-height: 540px;
    min-width: 320px;
    background-image: url(https://github.com/Pavelx703/goit-fe-course/blob/master/module-8/pictures/VectorSmartObject3.jpg?raw=true);

}
.site-logo {
    margin: 0;
}
.site-logo .logo-img {
    height: 23px;
    width: 86px;
}
.site-navigation {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin: 30px 0 0;
}
.menu {
    list-style: none;
    width: 490px;
    display: flex;
    justify-content: space-between;
    margin: 0;
}
.menu-item {
    text-transform: uppercase;
    --h: 40px;
    height: var(--h);
    line-height: var(--h);
    border-radius: calc(var(--h)/2);
    font-size: 14px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;

}
a.menu-link::after {
    transition: background-color 2s linear;
    transition: width 2s linear;
    transition: all 2s linear;
}
.menu-link {
    text-decoration: none;
    color: var(--main-color);
    transition: color .2s linear;
}
.menu-link:hover {
    color: var(--hover-color);
}


.partners-page {
    min-width: 320px;
    max-width: ;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 15px;

}
.partner-card-photo {
    width: 120px;
    height: 120px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    background-image: url(https://github.com/Pavelx703/goit-fe-course/blob/master/module-8/pictures/Layer6.jpg?raw=true);
    border-radius: 60px;
    margin-left: auto;
    margin-right: auto;

}
.partner-card-link {
    width: 40px;
    height: 40px;
   /* z-index: 10; */
 /* background-image: url(); */
 
}
.card-item {

    text-align: center;
}
.card-button {
    border: 2px solid;
    border-color: red;
    color: red;
    text-align: center;
    width: 280px;
    --h: 40px;
    height: var(--h);
    line-height: var(--h);
    border-radius: calc(var(--h)/2);
    font-size: 14px;
    font-family: 'Montserrat';
    font-weight: 600;
    background-color: inherit;
    outline: none;
    padding: 0;
}
.card-button:focus {
    background-color: red;
    color: white;
}